.base-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 0;
}
.base-header-logo{
    width: 40vh;
}
@media screen and (max-width: 600px){
    .base-header-logo{
        width: 35vh;
    }
}