svg{
    width:25px;
}

.profile-content{
    margin-top: 20px !important;
    display: flex;
    justify-content: left !important;
    align-items: center;    
}

.title-span{
    background: rgb(234, 232, 232) !important;
}

.profile-input{
    width: 35vw !important;
}